// COLOR VARIABLES

:root {
  --base-color:       #6F6155;
  --accent-color-1:   #FFD99D;
  --white:   #fff;
  --black:   #000;
}

// Full Palette
$mud:     #6F6155;
$peach:   #FFD99D;
$white:   #fff;
$black:   #000;

// Brand Colors
$primaryColor: $mud;
$accentColor:  $peach;