// COLOR VARIABLES

:root {
  // Theme Colors
  --base-color:       #657786;
  --accent-color-1:   #EAEAEA;
  --light:            #fff;
  --dark:             #4A514C;

  // Status Colors
  --internal-color:   #2B474F;
  --pending-color:    #F4AF49;
  --rejected-color:   #E4554A;
  --proposed-color:    #416D53;
  --planned-color:    #078E87;
  --started-color:    #00A38E;
  --in-dev-color:     #6E61A9;
  --testing-color:    #157F9D;
  --completed-color:  #83B755;
  --trash-color:      #4A514C;
}