.ig-filters {
  background-color: var(--accent-color-1);
  display: flex;
  flex-flow: column;
  padding: $padding $padding 0;
  position: relative;
  z-index: 2;

  &__filter {
    appearance: none;
    background: var(--light);
    border: 1px solid var(--accent-color-1);
    border-radius: 4px;
    cursor: pointer;
    flex: 100%;
    margin-bottom: $padding;
    height: $padding*1.5;
    
    &:last-of-type {

      @media #{$bay} {
        margin-right: 0;
      }
    }

    &:hover {
      background-color: var(--dark);
      color: var(--light);
    }
  }
}