.ig-filters {
  display: flex;
  flex-wrap: nowrap;
  margin: $padding 0;

  &__filter {
    appearance: none;
    background: var(--light);
    border: 1px solid var(--accent-color-1);
    border-radius: 4px;
    cursor: pointer;
    flex: auto;
    margin-right: $padding;
    height: $padding*1.5;
    
    &:last-of-type {
      margin-right: 0;
    } 

    &:hover {
      background-color: var(--accent-color-1);
    }
  }
}