.ig-filters {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: $padding 0;

  @media #{$pool} {
    flex-direction: row;
  }

  &__filter {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--accent-color-1);
    border-radius: 0;
    cursor: pointer;
    flex: 1;
    height: $padding*1.5;
    padding-left: $padding/2;

    &:hover {
      color: var(--base-color);
    }
  }

  svg {
    left: 90%;
    position: relative;
    right: 0;
    top: -30px;
    min-height: 24px;
    min-width: 24px;

    @media #{$pool} {
      left: -25px;
      top: 5px;
    }
  }
}