// Hero
// Big ol' messaging

.hero {
  text-align: center;
  text-transform: uppercase;

  &__heading {
    color: var(--white);
    @include fluid-type($min-width, $max-width, $min-font, $max-font);
  }

  &__subhead {
    color: var(--accent-color-1);
    font-family: $headingFont;
    letter-spacing: 4px;
    @include fluid-type($min-width, $max-width, 24px, 48px);

    span {
      display: block;
      font-family: $displayFont;
      margin: .25em 0;
    }

    span:before {
      border: 1px solid var(--accent-color-1);
      content: "";
      height: 1.25em;
      opacity: .5;
      position: absolute;
      transform: rotate(45deg);
      translate: -17% 13%;
      width: 1.25em;
    }
  }

  &__buttons {
    display: block;
    padding-top: 1.5em;
  }

}