// Card Component
// Used in the public list of submitted ideas

.ig-idea-list {

  &__card {
    border: 1px solid var(--accent-color-1);
    border-radius: 4px;
    margin-bottom: $padding * 1.5;
  }

  &__content {
    padding: $padding $padding 0;
  }

  &__header {
    align-items: center;
    box-shadow: 0px 3px 10px var(--accent-color-1);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: $padding/2 $padding;
    width: 100%;

    img {
      margin-right: $padding - 1.25;
      width: 35px;
    }

  }

  &__product {
    flex: auto;
    font-size: 14px;

    @media #{$pool} {
      font-size: 16px;
    }
    
  }

  &__status {
    border-radius: 15px;
    color: var(--light);
    font-size: 10px;
    padding: $padding/9 $padding/2;
    text-transform: uppercase;

    @media #{$pool} {
      font-size: 12px;
    }

    &--internal {
      background-color: var(--internal-color);
    }
    
    &--pending {
      background-color: var(--pending-color);
    }

    &--rejected {
      background-color: var(--rejected-color);
    }
    
    &--planned {
      background-color: var(--planned-color);
    }

    &--started {
      background-color: var(--started-color);
    }

    &--in-development {
      background-color: var(--in-dev-color);
    }

    &--in-testing {
      background-color: var(--testing-color);
    }

    &--complete {
      background-color: var(--completed-color);
    }

    &--trash {
      background-color: var(--trashed-color);
    }
  }

  &__title {
    flex: 50%;
    margin-top: 0;
  }

  &__meta {
    align-items: center;
    border-top: 1px solid var(--accent-color-1);
    color: var(--base-color);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: $padding/2 $padding;

    svg {
      margin-right: $padding/3;
      position: relative;
      top: 1px;
      width: 20px;
    }
  }
}