// Card Component
// Used in the public list of submitted ideas

.ig-idea-list {

  &__card {
    border: 1px solid var(--accent-color-1);
    border-radius: 4px;
    margin-bottom: $padding * 1.5;
  }

  &__title {
    margin-top: 0;
    padding: $padding/2;
  }

  &__product {
    flex: auto;
    font-size: 14px;

    @media #{$pool} {
      font-size: 16px;
    }
  }

  &__footer {
    background-color: var(--accent-color-1);
    border-top: 1px solid var(--accent-color-1);
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding: $padding/2;
  }

  &__status {
    border-radius: 15px;
    color: var(--light);
    font-size: 10px;
    padding: $padding/9 $padding/2;
    text-transform: uppercase;

    @media #{$pool} {
      font-size: 12px;
    }

    &--internal {
      background-color: var(--internal-color);
    }

    &--pending {
      background-color: var(--pending-color);
    }

    &--rejected {
      background-color: var(--rejected-color);
    }

    &--planned {
      background-color: var(--planned-color);
    }

    &--proposed {
      background-color: var(--proposed-color);
    }

    &--started {
      background-color: var(--started-color);
    }

    &--in-development {
      background-color: var(--in-dev-color);
    }

    &--in-testing {
      background-color: var(--testing-color);
    }

    &--complete {
      background-color: var(--completed-color);
    }

    &--trash {
      background-color: var(--trashed-color);
    }
  }

  svg {
    margin-right: $padding/3;
    position: relative;
    top: -3px;
    width: 20px;
  }
}