.ig-idea-list .ig-voting-form {
  .ig-voting-form__vote,
  .ig-voting-form__remove,
  .ig-voting-form__is-updating {
    display: none;
  }

  .ig-voting-form__is-logged-out {
    display: inline;
  }
}

.logged-in {
  .ig-idea-list .ig-voting-form {
    .ig-voting-form__vote {
      display: inline;
    }

    .ig-voting-form__is-logged-out,
    .ig-voting-form__remove,
    .ig-voting-form__is-updating {
      display: none;
    }

    &.voted {
      .ig-voting-form__vote {
        display: none;
      }

      .ig-voting-form__remove {
        display: inline;
      }
    }

    &.updating {
      .ig-voting-form__is-updating {
        display: inline;
      }

      .ig-voting-form__vote,
      .ig-voting-form__remove {
        display: none;
      }
    }
  }
}
