// Voting Form
// Allows users to add and remove vote for ideas

.ig-voting-form {
  flex: auto;

  &__votes {
    margin-right: $padding;
  }

  &__vote,
  &__remove {
    cursor: pointer;
  }

  &:hover {
    color: var(--dark);
  }
}