//---------------------
// Freelance Blog
// Index of all imported components
//---------------------

// IMPORT FUNCTIONS
//---------------------


// IMPORT BASE STYLES
//---------------------

@import
  "_base/_colors.scss",
  "_base/_units.scss",
  "_base/_typography.scss",
  "_base/_blockquote.scss",
  "_base/_forms.scss",
  "_base/_lists.scss",
  "_base/_animations.scss",
  "_base/_hr.scss",
  "_base/_icons.scss",
  "_base/_links.scss",
  "_base/_tables.scss";  


// IMPORT COMPONENT STYLES
//---------------------


// IMPORT GLOBAL STYLES
//---------------------


// IMPORT TEMPLATE STYLES
//---------------------

// Voting form
.idea-garden-public-list .voting-form {
  .logged-out {
    display: inline;
  }

  .add-vote,
  .remove-vote,
  .updating {
    display: none;
  }
}

body.logged-in .idea-garden-public-list {
  .voting-form {
    .add-vote {
      display: inline;
    }

    .add-vote,
    .remove-vote {
      &:hover {
        cursor: pointer;
      }
    }

    .remove-vote,
    .updating,
    .logged-out {
      display: none;
    }

    &.voted {
      .remove-vote {
        display: inline;
      }

      .add-vote {
        display: none;
      }
    }

    &.updating {
      .remove-vote,
      .add-vote {
        display: none;
      }

      .updating {
        display: inline;
      }
    }
  }
}


